<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../../../assets/images/people.png" height="28" alt="Logo">
        Customer Manager</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="customer" class="nav-item nav-link">Customers</a>
                <a routerLink="order" class="nav-item nav-link">Orders</a>
                <a routerLink="about" class="nav-item nav-link">About</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a routerLink="" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>